body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #434455;
  background-color: white;
  font-weight: 400;
}

.page-nav {
  list-style: none;
}
.nav-list {
  list-style: none;
}
.header-logo {
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}

.header-logo-web {
  color: #4d5ae5;
}

.nav-list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-list-link {
  color: #2e2f42;
  text-decoration: none;
}
.address-list {
  list-style: none;
}
.address-list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.solutions {
  background-color: #2e2f42;
}
.solutions-title {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  color: white;
}
.solutions-button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
}
.order-service {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
}
